.root {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  column-gap: 1rem;
  text-align: center;
}

.value {
  width: 20px;
}

.btn {
  width: 2.125rem;
  height: 2.125rem;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.btn:disabled {
  opacity: 0.3;
}

.btn:hover {
  background-color: var(--color-shade-grey);
}
